* {
    margin: 10px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.bill__count {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.balance {
    background-color: rgb(252, 155, 214);
    border-radius: 5px;
}

.easyMoney {
    color: #4c0445;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}